@media (max-width: 428px) {
  .suscribete {
    font-size: 10px;
  }
  .box {
    width: 150px;
    right: 80px;
  }
  input.src {
    font-size: 10px;
  }
  .nombre-tienda {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .menu-aparece {
    display: block;
  }

  .oculto {
    margin: 15px;
  }
  .menu-encab {
    display: none;
  }
  .menu-encab-oculto {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0;
  }
  .menu-encab-oculto li {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .menu-encab-oculto a {
    color: var(--dark-rose);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .menu-encab-oculto li a:hover,
  .menu-encab-oculto li a:focus {
    background-size: 100% 2px;
  }
  a.rebajas {
    color: red;
  }

  .secreto {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .slider {
    border: 3px solid red;
  }
  .slider ul {
    padding-top: 120px;
  }

  .nov-semana {
    font-size: 20px;
    padding: 35px;
  }
  .contenedor-uno img {
    width: 128px;
  }
  .contenedor-dos img {
    width: 128px;
  }
  .btn-light,
  .btn-light-menu {
    padding: 10px;
    width: 120px;
    height: 40px;
  }
  .btn-light-menu {
    font-size: 12px;
  }

  hr {
    border-top: 3px solid var(--dark-rose);
  }
  .separa-encab {
    margin-top: 40px;
    margin-left: 40px;
  }

  .envio {
    transform: translate(0%, -165%);
  }
  .separar-envio {
    margin-left: 140px;
  }
  .imagen-envio {
    display: inline-block;
  }
  .imagen-envio img {
    margin-top: -35px;
  }
  .titulo img {
    width: 100%;
  }

  .nov-escribenos {
    font-size: 20px;
  }
  .opinion {
    width: 95%;
  }

  .enterate {
    font-size: 12px;
  }
  .siguenos h5 {
    font-size: 15px;
  }
  .siguenos a {
    padding: 5px;
  }
  .location-clic h5 {
    font-size: 15px;
  }
  .location-clic span {
    font-size: 15px;
  }
  .condiciones-politicas a {
    font-size: 12px;
    padding-left: 20px;
  }
  .footer-container a:hover,
  .footer-container a:focus {
    cursor: pointer;
    background-size: 0%;
    color: #e9967a;
  }
  footer {
    padding-bottom: 80px;
  }
}
