* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: F2F2F2;
  font-family: "Didact Gothic", sans-serif;
}

:root {
  --rose: #fbdbbf;
  --black: #292d33;
  --dark-rose: #e9967a;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.fin-encab {
  border: 2px solid;
  border-color: var(--dark-rose);
}
.separa-encab {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 80%;
  margin-left: 150px;
  opacity: 0.2;
}

/* FLECHA
 * =================================================================== */
.flecha-arriba {
  display: none;
  width: 50px;
  height: 50px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
  background-color: #fbdbbf;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;
  box-shadow: 0 0 10px #fff, 0 0 0 3px #0003;
}

.flecha-arriba img {
  width: 80%;
}

/* WHATSAPP ICON
   * =================================================================== */
.btn-whatsApp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 53px;
  bottom: 30px;
  left: 20px;
  background: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: all 300ms ease;
  animation: efectButton 1.2s infinite;
}
.btn-whatsApp:hover {
  background: var(--rose);
}
/* Darle efecto al botón de whats */
@keyframes efectButton {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}
/* TOOLTIP */

.btn-whatsApp:hover .tooltip-box {
  display: inline-block;
}

.tooltip-box {
  display: none;
  width: 320px;
  position: absolute;
  background: black;
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: white;
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 0;
  right: 0;
  bottom: 50px;
}

.tooltip-box::after {
  content: "";
  display: block;
  border-top: 7px solid black;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 18px;
}

.suscribete {
  background-color: #292d33;
  color: #fff;
  text-align: center;
  z-index: 100;
  position: relative;
  font-size: 0.875rem;
  padding: 0.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

/* HEADER */

/* HEADER FIJO */
header {
  position: fixed;
  top: 0;
  background: var(--rose);
  width: 100%;
  z-index: 101;
}

header.abajo {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.encabezado-menu {
  display: flex; /*Convertimos al menú en flexbox*/
  justify-content: space-between; /*Con esto le indicamos que margine todos los items que se encuentra adentro hacia la derecha e izquierda*/
  align-items: center; /*con esto alineamos de manera vertical*/
}

/* MENU BUTTON*/
button {
  display: flex;
  flex-direction: column;
  width: 30px;
  border: 0;
  background: transparent;
  gap: 0.5rem;
  margin: 15px 20px 0px 20px;
}
button > div {
  background: var(--black);
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}
button:hover div:first-child {
  transform: rotate(45deg);
}
button:hover div:nth-child(2) {
  opacity: 0;
}
button:hover div:last-child {
  transform: rotate(-45deg);
}

/* TOOLTIP AL PASAR POR ENCIMA DEL BOTON */
.tooltip-menu {
  display: none;
  width: 200px;
  position: absolute;
  background: #fff;
  line-height: 20px;
  z-index: 500;
  color: var(--dark-rose);
  font-weight: 700;
  font-size: 15px;
  margin: 10px;
  padding: 15px 15px;
  border-radius: 5px;
  left: 0;
  right: 0;
}

.corazon {
  width: 25px;
  height: 25px;
  border: 1px solid red;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  bottom: 65px;
  right: 25px;
}

.tooltip-menu::after {
  content: "";
  display: block;
  border-top: 7px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  position: absolute;
  top: -14px;
  left: 14px;
}
.nav-icon-button:hover .tooltip-menu {
  display: inline-block;
}

/* .separa-tooltip {
  margin-top: 15px;
  border: 1px solid var(--dark-rose);
} */

/* BOTON MENU*/
.btn-light-menu {
  margin-top: 20px;
  margin-left: 9px;
  margin-bottom: 9px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 15px;
  color: var(--dark-rose);
  font-size: 15px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid var(--dark-rose);
}
.btn-light-menu:hover {
  background-color: var(--dark-rose);
  border: 2px solid var(--rose);
  color: #fff;
}

.menu-registrate {
  color: var(--black);
}
.menu-registrate .register {
  text-decoration: underline;
  color: var(--black);
}

/* ELEMENTOS MENU */
.nav-icons {
  display: flex;
  justify-content: right;
  text-align: center;
  position: relative;

  /*  padding: 0.3rem;
  margin: 1.5em; */
}
.nav-icons a {
  padding-right: 20px;
  color: var(--black);
}
.nav-icons a:hover {
  color: var(--dark-rose);
}
.menu-aparece {
  display: none;
}

.box {
  position: absolute;
  z-index: 102;
  top: 23px;
  right: 60px;
  width: 220px;
  transform: translate(-50%, -50%);
}
input.src {
  text-align: left;
  font-size: 15px;
  border-radius: 25px;
  color: var(--black);
  /* border: 30px solid var(--dark-rose); */
  background: var(--rose) url("/img/search-icon.png") no-repeat 9px center;
  transition: all 0.5s;
}
input.src:hover {
  width: 95%;
  background-color: #fff;
  box-shadow: 0 0 10px var(--black);
}
textarea:focus,
input:focus,
input[type]:focus {
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px var(--dark-rose);
  outline: 0 none;
}
#autocomplete-input {
  padding-left: 35px;
}

.nombre-tienda {
  font-family: "Baloo Tamma", cursive;
  letter-spacing: 20px;
  font-size: 45px;
  text-align: center;
}
.nombre-tienda h1 {
  color: #fff;
  text-shadow: -1px -1px 0px var(--dark-rose), 3px 3px 0px var(--dark-rose),
    6px 6px 0px #292d33;
}

/* MENU */
.menu-encab {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  align-items: center;
}
.menu-encab li {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #828282;
}

/* Subrayado animado anchor (a): */
.menu-encab a {
  color: var(--black);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
/* Subrayado animado anchor (a), al pasar por encima: */
.menu-encab li a:hover,
.menu-encab li a:focus {
  background-size: 100% 2px;
}
a.rebajas {
  color: red;
}

.imagen-detras h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 0px;
}
.secreto {
  position: absolute;
  font-size: 50px;
  font-weight: 700;
  padding-top: 300px;
}

/* CREAR SLIDER DE IMAGENES AUTOMATICO: */
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  height: 100vh;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  padding-top: 200px;
  animation: cambio 20s infinite alternate linear;
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}

/* SECTION 2 */
.nov-semana {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding: 70px;
}

.contenedor-uno,
.contenedor-dos {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
  justify-content: center;
}
.contenedor-ampliar {
  position: relative;
}
/* .contenedor-ampliar:hover {
  transform: scale(1.5);
  z-index: 3;
} */
.contenedor-uno img,
.contenedor-dos img {
  margin: 9px;
  border: 1px solid var(--dark-rose);
  display: inline-block;
  width: 250px;
  transition: transform 0.2s;
  border-radius: 10%;
}

.contenedor-completo {
  text-align: center;
  cursor: pointer;
}

/* .contenedor-uno .fa-heart {
  cursor: pointer;
  border: 1px solid red;
  font-size: 25px;
  position: absolute;
  z-index: 2;
  bottom: 25px;
  right: 25px;
} */

.red-heart {
  background-color: red;
}
.fa-heart:hover {
  color: var(--dark-rose);
}

span.products {
  font-weight: 700;
}

.opinion {
  text-align: center;
  padding-bottom: 30px;
}
.nov-escribenos {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  padding: 40px;
}

.name-change {
  color: var(--dark-rose);
}
.mail {
  color: var(--dark-rose);
}

/* BOTON MAS IMAGENES*/
.btn-light {
  margin-top: 70px;
  margin-left: 50%;
  cursor: pointer;
  text-transform: uppercase;
  border: 0;
  font-weight: bold;
  align-items: center;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  width: 150px;
  height: 50px;
  background-color: var(--dark-rose);
  text-decoration: none;
  border-radius: 50px;
  border: 2px solid var(--rose);
  transform: translateX(-50%);
}

.btn-light:hover {
  background-color: var(--rose);
  border: 2px solid var(--dark-rose);
  color: var(--black);
}

/* SECTION ENVIOS */
.imagen-envio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px;
}

.imagen-envio img {
  transition: 1s linear;
}

.imagen-envio img:hover {
  box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
}

.envio {
  text-align: center;
  transform: translate(0%, -200%);
}

.separar-envio {
  width: 10%;
  margin-left: 170px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid;
}

.entre24 {
  font-style: italic;
}

.entre24:hover {
  text-decoration: underline;
}

/* FORM */
.boletin {
  background-color: #f8f7f7;
  margin-top: 40px;
}

.enterate h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: none;
  color: #444;
  background-color: #fff;
  margin: 0 0 14px;
  height: auto;
}

input[type="submit"] {
  cursor: pointer;
  display: block;
  padding: 13px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #444;
  width: 100%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  margin: 50px 0;
  font-family: "Didact Gothic", sans-serif;
}

input[type="submit"]:hover {
  background-color: var(--dark-rose);
  color: black;
}

/* ESTILOS FOOTER */
footer {
  display: block;
  position: static;
  bottom: 0;
  top: 0;
  background-color: var(--rose);
  color: #292d33;
  /* margin: 50px 0; */
  padding: 50px 0;
}

.footer-clic {
  display: flex;
  justify-content: space-evenly;
}
.location-clic h5 {
  font-size: 26px;
  padding-bottom: 20px;
}
.siguenos h5 {
  font-size: 26px;
  padding-bottom: 20px;
}
.siguenos a {
  padding: 10px;
  color: #292d33;
}
.siguenos i {
  padding-top: 20px;
  padding-right: 20px;
}
.siguenos a:hover {
  color: var(--dark-rose);
}

.location-clic {
  font-size: 18px;
  padding-bottom: 20px;
}
.location-clic a,
span {
  color: #292d33;
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-container a {
  color: var(--black);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
/* Subrayado animado anchor (a), al pasar por encima: */
.footer-container a:hover,
.footer-container a:focus {
  background-size: 100% 2px;
}
footer .col-md-4 {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}
.col-md-4 a {
  color: var(--dark-rose);
  font-weight: 700;
}
